.color {
  background-color: #fefe22;
}

.visually_hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0;
  padding: 0;
}


/*----LOGO------*/
.header_style {
  display: flex;
  justify-content: center;
  outline: none;
  outline-offset: none;
}

.header__logo_size {
  width: 100px;
  height: 100px;
  margin: 12px 0 0;
}
/*-------------------------------*/


/*----ITEMS------*/
.items_font-style {
  font: normal 400 14px/26px 'Oswald' sans-serif;
  color: #242424;
  -webkit-font-smoothing: antialiased;
}

.items_style {
  list-style: none;
  display: none;
}
/*-------------------------------*/


/*-------------MAIN-------------*/
.joke_font-style {
  font:normal 400 24px/32px Oswald,sans-serif;
  text-align:center;
  -webkit-font-smoothing: antialiased;
}

.joke_size {
   max-width:400px;
   height: 176px;
   overflow: hidden;
}

.joke__text_size {
  height: 128px;
  margin: 0;
}

.joke__btn_size {
  height: 40px;
  width: 40px;
}

.joke__btn_animation {
  animation-duration: 1950ms;
  animation-name: btn;
}

@keyframes btn {
  100% {
    transform: rotate(-360deg);
    transition: transform 1950ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.joke__btn_position {
  margin: 10px 0 0;
  padding: 0 2px;
}

.joke__btn_style {
  background:transparent;
  border:none;
}

.joke__btn_style:focus {
  outline: none;
  outline-offset: none;
}

.joke__btn_style:hover {
  cursor: pointer;
}

.joke__text_position {
  margin: 0 5px;
  text-align: center;
}

.main_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
}
/*-------------------------------*/


/*-------------DEVELOPER---------*/

.developer_style {
  list-style: none;
}

.developer_position {
  display: block;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 0;
}

.developer__logo_size {
  width: 24px;
  height: 24px;
}

.developer__sign_font-style {
  font: normal 400 10px 'IBM Plex Sans' sans-serif;
  color: #242424;
  -webkit-font-smoothing: antialiased;
}

.developer__sign_link-style {
  text-decoration: none;
  color: #242424;
}

.developer__sign_size {
  margin: 2px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*-------------------------------*/


/*-------------MEDIA---------*/

@media (max-height: 550px) and (max-width: 5000px) and (orientation: landscape) {
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .header_style, .main_position {
    display: none;
  }
  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
  .footer::before {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 400%;
    content: "Увеличьте высоту окна браузера";
    text-align: center;
    font:normal 400 24px/32px Oswald,sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@media (max-height: 414px) and (max-width: 823px) and (orientation: landscape) {
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .header_style, .main_position {
    display: none;
  }
  .footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}
  .footer::before {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 400%;
    content: "В альбомной ориентации не работает   :(";
    text-align: center;
    font:normal 400 24px/32px Oswald,sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@media only screen and (min-width: 600px) {
  .items_position {
    display: flex;
    width: 128px;
    height: 100px;
    margin: 12px 0 0;
    padding: 0;
    justify-content: space-around;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }

  .main_position {
    height: 77vh;
  }
}

@media only screen and (min-width:650px) {
  .joke_font-style {
    font:normal 400 60px/64px Oswald,sans-serif;
    text-align:center;
    -webkit-font-smoothing: antialiased;
  }

  .joke_size {
    height:332px;
    max-width:656px;
    overflow:hidden;
  }

  .main_position {
    height: 77vh;
  }

  .joke__text_size {
    height: 272px;
    margin: 0;
  }

  .joke__btn_position {
    margin: 16px 0 0;
  }
}

/*@media only screen and (min-width:1000px) {
  .body_size {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}
.footer {
  display: flex;
  justify-content: center;
  position: relative;
}
.main_position {
  height: 332px;
}
}*/















