.color {
  background-color: #fefe22;

}


.logo_size {
  width: 100px;
  height: 100px;
}

.header {
  display: flex;
  justify-content: center;
}

/*----ITEMS------*/
.items_font-style {
font: normal 400 14px/26px 'Oswald' sans-serif;
color: #242424;
-webkit-font-smoothing: antialiased;
}

.items_style {
  list-style: none;
  display: none;
}

@media only screen and (min-width: 600px) {
.items_position {
  display: flex;
  width: 128px;
  height: 100px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
}
/*-------------------------------*/


/*-------------DEVELOPER---------*/

.developer_style {
  list-style: none;
}

.developer_position {
  display: block;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 0;
}

.developer__logo_size {
  width: 24px;
  height: 24px;

}

.developer__sign_font-style {
  font: normal 400 10px 'IBM Plex Sans' sans-serif;
  color: #242424;
}

.developer__sign_link-style {
  text-decoration: none;
  color: #242424;
}

.developer__sign_size {
  margin: 2px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*-------------------------------*/


/*-------------MAIN---------*/
.joke_font-style {
  font:normal 400 24px/32px Oswald,sans-serif;
  text-align:center
}
.joke_size {
  max-width:400px
}
button {
  background:transparent;
  border:none;
}


@media only screen and (min-width:768px) {
.joke_font-style {
  font:normal 400 60px/64px Oswald,sans-serif;
  text-align:center;
}

.joke_size {
  max-height:328px;
  max-width:656px;
  overflow:hidden;
  }
}

.joke__text_position {

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
/*-------------------------------*/












